div{
    margin-bottom: 5px;
}
#kolory_predefiniowane{
    width: 200px;
    height: 100px;
    background-color: red;
   }

#kolory_heksadecymalne{
       width: 200px;
    height: 100px;
    background-color: #ffff37;
}
