div {
    margin-bottom: 5px;
}

#kolory_predefiniowane {
    width: 200px;
    height: 100px;
    background-color: red;
}

#kolory_heksadecymalne {
    width: 200px;
    height: 100px;
    background-color: #ff3355;
}

#kolory_heksadecymalne_skrocone {
    width: 200px;
    height: 100px;
    background-color: #f35;
}

#kolory_funkcja_rgb{
    width: 200px;
    height: 100px;
    background-color: rgb(137,37,37);
}
